// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
//bodyLessTest//

// body {
// 	background-color: pink;
// }


// Variables //

@border-page: 1px solid forestgreen;
@border-parent: 1px solid red;
@border-child: 1px solid blue;
@border-grandchild: 1px solid pink;

// Mixins //

.design(){
	background-color:#FFE4C4;
}

.font(){
	font-family: 'Roboto Mono', monospace;
}


.inSide(){
	border:@border-child;
	padding: 20px; 
}

// Styles //

.page {
	max-width: 900px;
	display:flex;
	flex-direction: column;
	margin: 0 300px 0 300px;
	border: @border-page; 
} // this closes .page


	.header {
		border:@border-parent;
		max-height: 100px; 
		
			
		.nav a {
			border:@border-child;

			.link {
				.font();
			}//this closes .link .nav .header
		}//this closes .nav .header
	}//this closes .header


	.topTop {
		display: flex;
		.design();
		// justify-content: space-between;

		.box {
			display: flex;
			flex-direction: column;
			border:@border-child;

			h1 {
				border:@border-grandchild;
				.font();
				padding-top: 10px;
			}//this closes h1 .box .topTop

			h2 {
				border:@border-grandchild;
				padding-top: 20px;
			}//this closes h2 .box .topTop
		}//this closes .box .topTop 

		.imgBox{
			border:@border-child;
			width: 50%;
			// padding-left: 70px;
			// padding-top: 30px;

			img {
				border:@border-grandchild;
				width: 90%;
				border-radius: 15%;
				// box-shadow: 50px rgba(0,0,0,.1);
			}//this closes img .box .topTop
		}//this closes .imBox .topTop

	}//this closes .topTop

	.sectionTop {
		border:@border-parent;
		h2 {
			border: @border-child;
			padding: 20px; 
		}//this closes h2 .sectionTop
		p {
			border: @border-child;
			padding: 20px; 
		}//this closes p .sectionTop
	}//this closes .sectionTop

	.sectionMiddle {
		border:@border-parent;
			.box {
				h2 {
					.inSide();
					// border:@border-child;
				}//this closes h2 .box .sectionMiddle
				p {
					.inSide();
					// border:@border-child;
				}//this closes p .box .sectionMiddle
			}//this closes .box .sectionMiddle
	}//this closes .sectionMiddle

	.sectionBottom {
		border:@border-parent;
		// display:flex;
		// flex-direction: column;

		h2 {
			.inSide();
		}//this closes h2 .sectionBottom
		p {
			.inSide();
		}//this closes p .sectionBottom
	}//this closes .sectionBottom

	.button {
		border:@border-parent;
	}//this closes .button


